[mysqld]
max_connections=65535
back_log=512
wait_timeout=180
innodb_thread_concurrency=256
key_buffer_size=512M
innodb_buffer_pool_size=4096M
innodb_log_buffer_size=128M
query_cache_size=128M
thread_cache_size=256
max_allowed_packet=256M
default-time_zone='+8:00'
sort_buffer_size=128M
innodb_sort_buffer_size=128M
read_buffer_size=128M
read_rnd_buffer_size=128M
max_connect_errors=256


max_connections=65535
thread_cache_size=120
back_log=256
wait_timeout=180
innodb_thread_concurrency=128
key_buffer_size=512M
innodb_buffer_pool_size=4096M
innodb_log_buffer_size=128M
query_cache_size=128M
thread_cache_size=128